.container_game{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: .7rem;
    width: 560px;
    margin: 0 auto;
    margin-top: 190px;
}


.container_picked{
    width: 200px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container_hpicked{
    width: 200px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.circle_picked{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(24, 24, 24, 0.329);
    margin: 0 auto;
    margin-top: 40px;
}

.circle_hpicked{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(24, 24, 24, 0.329);
    margin: 0 auto;
    margin-top: 40px;
}





.circle_game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    
    
}

.circle_game img {
   max-width: 100%;
   max-height: 100%;
}

.circle_paper_game {
   
    transform: translateX(-50%);
    border: 15px solid var(--Paper-Main);
    box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.4);
    transition: transform .2s;
    margin-left: 78px;

}



.circle_scissors_game {
    
    transform: translateX(-50%);
    border: 15px solid var(--Scissors-Main);
    box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.4);
    transition: transform .2s;
    margin: 0 auto;
    margin-left: 78px;
}

.circle_rock_game {
    
    transform: translateX(-50%);
    border: 15px solid var(--Rock-Main);
    box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    margin-left: 78px;
}


.container_result_game {
    text-align: center;
  }
  
  .result-box {
   width: 200px; 
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .result-box p {
    font-size: 2.6rem;
    margin-bottom: 10px;
  }
  
  .btn_result {
    width: 140px;
    padding: 5px;
    background: white;
    border: none;
    font-size: 1rem;
    border-radius: 8px;
    transition: transform .2s;
  }
  
 .btn_result:hover{
    transform: scale(1.1);
 }

 .btn_result.lose {
    color: red;
 }